body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  background-color: #14b7c5;
  color: white;
}

.btn:hover {
  background-color: purple;
  color: white;
}

/* Page Header Style */
.navbar{
  background-color: #14b7c5;
  margin-bottom: 0;
  color: white;
}

.header-title{
  padding-top: 1.5%;
  padding-bottom: .5%;
  margin-bottom: .75%;
}

/* Footprint Style */
.nav-tabs > li {
  width: 50%;
  font-weight: bold;
}

.footprint {
  text-align: center;
}

.nav-tabs > li > a {
  color: #14b7c5;
}

.nav-tabs > li > a:hover {
  color: purple;
}

.nav-tabs > li .active > a {
  color: black;
}

/* Tab Content Style */
.tab-content {
  padding-top: 2.5%;
}

/* Pledges List Style */
#my-footprint-pledges-header {
  margin-bottom: 1%;
}

.my-footprint-title {
  font-weight: bold;
}

.dropdown {
  float: right;
}

.my-footprint-pledges {
  margin-top: 2%;
}

.pledge-list{
  max-height: 30vh;
  overflow: scroll;
}

.active-pledge-list {
  max-height: 60vh;
  overflow: scroll;
}

.pledge > .btn {
  float: right;
}

.pledge > .pledge-info {
  float: left;
}

.page-header {
  text-align: center;
  margin: 0;
}

.pledge-title {
  font-weight: bold;
}

.card {
  text-align: center;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar Style */
#nav-bar {
  width: 50vw;
  height: 10vh;
  position: fixed;
  bottom: 2%;
  left: 25%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-button {
  width: 33%;
  cursor: pointer;
}

.nav-button:hover {
  border: 0.5px solid black;
}

.selected {
  background-color: darkgray; /* change to blue */
}

.nav-button img {
  width: 30px;
}