body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

<<<<<<< HEAD
.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
}

.nav-tabs {
  text-align:center;
}

.list-group{
  max-height:50vh;
  overflow:scroll;
}

.list-group-item{
  height:150px;
}

.page-header {
  text-align:center;
  margin:0;
}

.pledge-title {
  font-weight:bold;
}

.pledge-info {
  float:left;
}

.btn {
  float:right;
=======

/* Navigation Bar Style */
#nav-bar {
  width: 50vw;
  height: 10vh;
  position: fixed;
  bottom: 2%;
  left: 25%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-button {
  width: 33%;
  cursor: pointer;
}

.nav-button:hover {
  border: 0.5px solid black;
}

.selected {
  background-color: darkgray; /* change to blue */
}

.nav-button img {
  width: 30px;
>>>>>>> NavBar
}