body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Navigation Bar Style for mobile */
@media (max-width: 768px) {
  #nav-bar {
    width: 100vw;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    bottom: 0;
  }
  
  .nav-button {
    width: 34%;
    cursor: pointer;
    background-color: #14b7c5;
    border-color: white;
    border-width: 0.5px;
  }
  
  .nav-button:focus {
    outline: 0;
  }
  
  .nav-button:hover {
    border: 1px solid white;
  }
  
  .nav-button img {
    width: 30px;
    pointer-events: none;
  }
  
  .selected {
    background-color: #0b6d90; 
    color: white;
  }
  
  .selected img {
    -webkit-filter: invert(100%);
  }
  
}
